<div class="container">
  <div class="row">
    <div class="col">
      <div class="items">
        <div class="items-head">
          <p>Proyectos disponibles</p>
          <hr />
          <app-filter-projects (filtroBusquedaCambio)="aplicarFiltro($event)"></app-filter-projects>
          <hr />
        </div>
        <app-project-list [proyectos]="proyectos"></app-project-list>
        <hr />
        <div class="items-body">
          <span *ngIf="esNuevoProyectoVisible"
                (click)="toggleNewProject()"
                class="items-body-content">
            Ocultar formulario
            <i class="fa fa-minus"></i>
          </span>
          <span *ngIf="!esNuevoProyectoVisible"
                (click)="toggleNewProject()"
                class="items-body-content">
            Añadir nuevo proyecto
            <i class="fa fa-plus"></i>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="esNuevoProyectoVisible" class="col">
      <app-new-project></app-new-project>
    </div>
  </div>
  <hr />
</div>
