<div class="container">
  <div class="items">
    <div class="items-head">
      <p>Proyectos disponibles</p>
    </div>
    <div *ngIf="proyectos$ | async as proyectos; else loadingOrError">
      <app-project-list [proyectos]="proyectos"></app-project-list>
    </div>
    <ng-template #loadingOrError>
        <div *ngIf="loadingError$ | async; else loading">
          <div class="container">
            <h5>Error cargando datos.</h5>
          </div>
        </div>
        <ng-template #loading>
          <div class="container">
            <h5>Cargando datos...</h5>
          </div>
        </ng-template>
      </ng-template>
    <hr />
    <div class="items-body">
      <span class="items-body-content">
        <a class="no-decor"
           href='projects/new-project'>
          Añadir nuevo proyecto
        </a>
        <i class="fa fa-plus"></i>
      </span>
    </div>
  </div>
</div>
