<div style="width: 50%;">
    <label class="project-form-control" for="name">Nombre de proyecto:</label>
    <input name="name"
           type="text"
           [(ngModel)]="project.name"
           placeholder="Nombre de projecto"
           class="project-form-control"/>
    <button (click)="addNewProject()"><i class="fa fa-save"></i></button>
</div>
<pre>Nombre de proyecto: {{ project.name | json }}</pre>
<swal
  #guardarProyectoError
  title="Error"
  text="El nombre del proyecto debe tener al menos 5 carácteres."
  type="error">
</swal>
<swal
  #guardarProyecto
  title="OK"
  text="El proyecto {{project.name}} se ha guardado con éxito."
  type="success">
</swal>


