<form [formGroup]="formProyecto">
  <div class="container">
    <div class="form-group">
      <input name="nombreProyecto"
             class="form-control"
             formControlName="nombreProyecto"
             placeholder="Nombre de proyecto"
             type="string" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary"
              (click)="crearProyecto()"
              [disabled]="formProyecto.invalid">
        <span>Crear proyecto</span>
      </button>
    </div>
  </div>
</form>
